/* src/App.css */

.navbar-container {
  background-color: #28a745;
}

.page-container {
  background-color: #f8f9fa;
}

/* src/App.css */

/* Genel sayfa stilini belirle */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar stili */
.nav {
  background-color: #333; 
  
}

nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}
